
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
        }
        header {
            background-color: #260231;
            color: #fff;
            padding: 15px;
            text-align: center;
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: #1f2e56;
            text-decoration: none;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 15px 20px;
            text-decoration: none;
        }
        nav a:hover {
            background-color: #41517f;
        }
        .hero {
            text-align: center;
            padding: 30px;
            /* background: url(https://via.placeholder.com/1200x400) no-repeat center / cover; */
            color: #182474;
            background-color: #e3edf7;
        }
        .hero h1 {
            font-size: 3em;
            margin-bottom: 10px;
        }
        .content {
            display: flex;
            justify-content: space-around;
            padding: 20px;
            margin: 20px;
            background-color: #6d857b0d;
            text-decoration: none;
        }
        .card {
             background-color: #97ffd5;
             border: 1px solid #ddd;
             border-radius: 30px;
             padding: 30px;
             text-align: center;
             width: 25%;
             box-shadow: 13px 5px 9px 0px rgba(0, 0, 0, 0.1);
             text-decoration: none;
        }
        .card h3 {
            margin-bottom: 10px;
        }
        .card p {
            color: #666;
        }
        .card button {
            background-color: #3171fc;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            
        }
        .card button:hover {
            background-color: #0056b3;
        }
        footer {
            text-align: center;
            padding: 10px;
            background-color: #150633;
            color: #fff;
        }


.login-btn {
            text-align: center;
            margin-top: -140px;
            margin-left: 1380px;
            position: absolute;
            background-color: #1f2e56;
            color: white;
            border: none;
            padding: 15px 30px;
            font-size: 1.2em;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .login-btn:hover {
            background-color: #6365a7;
        }
    

img{
    height: 145px;
    width: 140px;
    position: absolute;
    margin-top: -146px;
    cursor: pointer;
    margin-left: 0.5px;

}
/* .btt{ */
    /* border: 2px solid black; */
    /* color: rgb(249, 249, 249);
    background-color: rgb(190, 2, 2); */
    /* font-size: larger;
    font-family: Arial, Helvetica, sans-serif; */
    /* margin-right: 50px; */
    /* margin-left: 645px;
    margin-bottom: -30px;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 200px;
    height: 6px; */
    
/* } */
